.main-header .logo {
border-radius: 50%;
margin: 10px -20px 10px 20px;
float: left;
padding: 50px, 0px;
}

.main-header {
    background-color: teal;
    display: block;
    overflow: hidden;
}

.nav-bar {
    border: solid white 2px;
    flex-flow: column;
}

ul {
    list-style: none;
    color: whitesmoke;
    padding: 80px 60px;
    display: inline-flex;
    margin-left: 50px;
}

li a {
    color: white;
    display: inline;
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}